@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-open-sans: var(--font-open-sans);
}

:root {
  --radius: 0.375rem;
  --background: oklch(93.104% 0.01062 112.589);
  --foreground: oklch(12.856% 0.00001 271.152);
  --card: oklch(93.104% 0.01062 112.589);
  --card-foreground: oklch(12.856% 0.00001 271.152);
  --popover: oklch(93.104% 0.01062 112.589);
  --popover-foreground: oklch(12.856% 0.00001 271.152);
  --primary: oklch(0.6489 0.237 26.9728);
  --primary-foreground: oklch(93.104% 0.01062 112.589);
  --secondary: oklch(0.968 0.211 109.7692);
  --secondary-foreground: oklch(12.856% 0.00001 271.152);
  --muted: oklch(0.9551 0 0);
  --muted-foreground: oklch(0.3211 0 0);
  --accent: oklch(0.5635 0.2408 260.8178);
  --accent-foreground: oklch(93.104% 0.01062 112.589);
  --destructive: oklch(12.856% 0.00001 271.152);
  --destructive-foreground: oklch(93.104% 0.01062 112.589);
  --border: oklch(12.856% 0.00001 271.152);
  --input: oklch(12.856% 0.00001 271.152);
  --ring: oklch(0.6489 0.237 26.9728);
  --chart-1: oklch(0.6489 0.237 26.9728);
  --chart-2: oklch(0.968 0.211 109.7692);
  --chart-3: oklch(0.5635 0.2408 260.8178);
  --chart-4: oklch(0.7323 0.2492 142.4953);
  --chart-5: oklch(0.5931 0.2726 328.3634);
  --sidebar: oklch(0.9551 0 0);
  --sidebar-foreground: oklch(12.856% 0.00001 271.152);
  --sidebar-primary: oklch(0.6489 0.237 26.9728);
  --sidebar-primary-foreground: oklch(93.104% 0.01062 112.589);
  --sidebar-accent: oklch(0.5635 0.2408 260.8178);
  --sidebar-accent-foreground: oklch(93.104% 0.01062 112.589);
  --sidebar-border: oklch(12.856% 0.00001 271.152);
  --sidebar-ring: oklch(0.6489 0.237 26.9728);
  --font-open-sans: "Open Sans", sans-serif;
}

.dark {
  --background: oklch(12.856% 0.00001 271.152);
  --foreground: oklch(93.104% 0.01062 112.589);
  --card: oklch(0.3211 0 0);
  --card-foreground: oklch(93.104% 0.01062 112.589);
  --popover: oklch(0.3211 0 0);
  --popover-foreground: oklch(93.104% 0.01062 112.589);
  --primary: oklch(0.7044 0.1872 23.1858);
  --primary-foreground: oklch(12.856% 0.00001 271.152);
  --secondary: oklch(0.9691 0.2005 109.6228);
  --secondary-foreground: oklch(12.856% 0.00001 271.152);
  --muted: oklch(0.2178 0 0);
  --muted-foreground: oklch(0.8452 0 0);
  --accent: oklch(0.6755 0.1765 252.2592);
  --accent-foreground: oklch(12.856% 0.00001 271.152);
  --destructive: oklch(93.104% 0.01062 112.589);
  --destructive-foreground: oklch(12.856% 0.00001 271.152);
  --border: oklch(93.104% 0.01062 112.589);
  --input: oklch(93.104% 0.01062 112.589);
  --ring: oklch(0.7044 0.1872 23.1858);
  --chart-1: oklch(0.7044 0.1872 23.1858);
  --chart-2: oklch(0.9691 0.2005 109.6228);
  --chart-3: oklch(0.6755 0.1765 252.2592);
  --chart-4: oklch(0.7395 0.2268 142.8504);
  --chart-5: oklch(0.6131 0.2458 328.0714);
  --sidebar: oklch(12.856% 0.00001 271.152);
  --sidebar-foreground: oklch(93.104% 0.01062 112.589);
  --sidebar-primary: oklch(0.7044 0.1872 23.1858);
  --sidebar-primary-foreground: oklch(12.856% 0.00001 271.152);
  --sidebar-accent: oklch(0.6755 0.1765 252.2592);
  --sidebar-accent-foreground: oklch(12.856% 0.00001 271.152);
  --sidebar-border: oklch(93.104% 0.01062 112.589);
  --sidebar-ring: oklch(0.7044 0.1872 23.1858);
  --font-open-sans: "Open Sans", sans-serif;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
